<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<form action="." method="post">
    {% for field in form %}
    {% csrf_token %}
    <div>
        {{ field.label_tag }}:{{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}


<div>
    <input type="submit" value="Remark">
</div>
</form>


<hr>
{% for tie in ties %}
<div>
    <u1>
        <li>{{ tie.subject }}</li>
        <li>{{  tie.mail}}</li>
        <li>{{  tie.topic}}</li>
        <li>{{ tie.message }}</li>
        <li>{{ tie.cc_myself }}</li>
    </u1>
</div>
{% endfor %}

</body>
</html>